.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero h1 {
  margin: 0 0 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}

.hero h2 {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  color: var(--green);
}

.hero h3 {
  margin-top: 10px;
  line-height: 0.9;
}

.big-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
}

.hero p {
  margin: 20px 0 0;
  max-width: 540px;
}

.hero .hero-button {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.hero .hero-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--green);
  z-index: -1;
  transition: width 0.3s ease;
}

.hero .hero-button:hover {
  color: var(--navy);
}

.hero .hero-button:hover::before {
  width: 100%;
}

.hero-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hero-item.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .hero {
    padding: 0;
  }
}

.hero-box {
  position: absolute;
  opacity: 0.5;
  border-radius: 4px;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hero-box.box1 {
  width: 150px;
  height: 150px;
  background-color: var(--green-tint);
  top: 20%;
  right: 20%;
  animation: float 8s ease-in-out infinite;
}

.hero-box.box2 {
  width: 200px;
  height: 200px;
  border: 2px solid var(--green);
  top: 40%;
  right: 30%;
  animation: float 10s ease-in-out infinite alternate;
}

.hero-box.box3 {
  width: 100px;
  height: 100px;
  background-color: var(--lightest-navy);
  top: 60%;
  right: 10%;
  animation: float 6s ease-in-out infinite;
}

.hero-box.box4 {
  width: 300px;
  height: 300px;
  border: 3px solid var(--lightest-navy);
  top: 25%;
  right: 5%;
  animation: float 12s ease-in-out infinite alternate-reverse;
}

.hero-box.box5 {
  width: 60px;
  height: 60px;
  background-color: var(--green);
  top: 70%;
  right: 20%;
  animation: float 6s ease-in-out infinite alternate-reverse;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) rotate(10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}