.myProjects {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.myProjects.visible {
  opacity: 1;
  transform: translateY(0);
}

.myProjects .section-heading::before {
  content: '04.';
}

.projects-grid {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-content {
  position: relative;
  grid-column: 1 / 7;
  grid-row: 1 / -1;
  z-index: 2;
}

.project-overline {
  margin: 10px 0;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}

.project-title {
  margin: 0 0 20px;
  color: var(--lightest-slate);
  font-size: clamp(24px, 5vw, 28px);
}

.project-description {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fz-lg);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0 10px;
  padding: 0;
  list-style: none;
}

.project-tech-list li {
  margin: 0 20px 5px 0;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  white-space: nowrap;
}

.featured-project:nth-of-type(odd) .project-tech-list li {
  margin: 0 0 5px 20px;
}

.project-links {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
}

.project-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.project-links a svg {
  width: 20px;
  height: 20px;
}

.project-image {
  grid-column: 6 / -1;
  grid-row: 1 / -1;
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.img-placeholder {
  height: 300px;
  background-color: var(--green-tint);
  border-radius: var(--border-radius);
}

/* Other Projects */
.other-projects {
  margin-top: 100px;
}

.other-projects h2 {
  font-size: clamp(24px, 5vw, var(--fz-heading));
  text-align: center;
  margin-bottom: 50px;
}

.other-projects .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.other-project {
  position: relative;
  cursor: default;
  transition: var(--transition);
}

.project-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  transition: var(--transition);
}

.project-inner:hover {
  transform: translateY(-5px);
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.folder-icon svg {
  width: 40px;
  height: 40px;
  color: var(--green);
}

.other-project .project-links {
  margin: 0;
  color: var(--light-slate);
}

.other-project .project-title {
  margin: 0 0 10px;
  font-size: var(--fz-xxl);
}

.other-project .project-description {
  background: transparent;
  box-shadow: none;
  padding: 0;
  color: var(--light-slate);
  font-size: var(--fz-md);
  padding-bottom: 30px;
}

.other-project footer {
  margin-top: auto;
}

.other-project .project-tech-list {
  margin: 10px 0 0 0;
}

.other-project .project-tech-list li {
  margin: 0 10px 5px 0;
  color: var(--slate);
}

@media (max-width: 768px) {

  .project-description {
    padding: 20px 0;
    background-color: transparent;
    box-shadow: none;
  }

  .other-projects .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .project-description {
    padding: 10px 0;
  }

  .other-projects .projects-grid {
    grid-template-columns: 1fr;
  }
}